ul {
	list-style-type: none;
}
.folder {
    position: relative;
}
.folder:hover {
	background: #e5e5e5;
	cursor: pointer;
}
span {
	position: relative;
	left: 25px;
	font-size: 20px
}
.material-icons-folder {
	color: #ffbf00;
	position: absolute;
    bottom: 0;
    font-size: 20px;
}
.material-icons-file {
	color: #b2b0b0;
	position: absolute;
    bottom: 0;
    font-size: 20px;
}
.message {
	font-style: italic;
	margin: 0px;
}