body {
  margin: 0px;
  background: #ddbc9b;
  color: #000000; }

#content {
  display: block;
  margin: 10px auto;
  max-width: 980px;
  padding: 10px;
  background: #ffffff; }
  #content h2, #content h1 {
    color: #8a3a00; }
  #content h1 {
    text-align: center;
    text-transform: capitalize; }
  #content img {
    border: 2px solid #8a3a00;
    padding: 2px; }
  #content .img-left {
    float: left;
    margin: 0 10px 10px 0; }
  #content .img-right {
    float: right;
    margin: 0px 0px 10px 10px; }
  #content .brief {
    width: 35%;
    float: left;
    padding: 15px;
    margin: 0px 21px 7px 0px;
    background: #faddbb;
    color: #000000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  #content a {
    color: #5382ad;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    #content a:visited {
      color: #8a3a00; }
    #content a:hover {
      color: #faddbb; }
  #content table {
    border-collapse: collapse; }
    #content table caption {
      color: #000000;
      text-align: right; }
    #content table tr {
      border-bottom: 1px solid #e1e1e1; }
      #content table tr th {
        text-align: left;
        padding: 10px 20px;
        text-transform: uppercase;
        background: #e1e1e1;
        color: #000000; }
        #content table tr th:not(:last-child) {
          border-right: 1px solid #ffffff; }
      #content table tr td {
        padding: 7px 20px;
        background-color: #ffffff; }
  #content .contact-form .form-element {
    display: flex;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 15px; }
    #content .contact-form .form-element-left {
      float: left;
      width: 50%;
      padding-right: 3px; }
    #content .contact-form .form-element-right {
      float: right;
      width: 50%;
      padding-left: 3px; }
    #content .contact-form .form-element label {
      text-transform: uppercase;
      color: #8181a2;
      margin-bottom: 5px; }
    #content .contact-form .form-element input, #content .contact-form .form-element textarea {
      padding: 5px;
      border: 1px solid #e1e1e1;
      outline: none; }
    #content .contact-form .form-element textarea {
      resize: none; }
  #content .contact-form .btn {
    cursor: pointer;
    padding: 10px 50px;
    border: 1px solid #3b71a2;
    text-transform: uppercase;
    margin: 5px 0px 30px 0px;
    font-size: 22px;
    background: #ffffff;
    color: #3b71a2;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }
    #content .contact-form .btn:hover {
      background: #3b71a2;
      color: #ffffff; }
