body {
  margin: 0px;
  background: rgba(198, 238, 252, 0.53);
  color: #ffffff; }
  body #content {
    display: block;
    margin: 10px auto;
    max-width: 990px;
    padding: 7px;
    background: #393939; }
    body #content h1 {
      color: #fcce07;
      text-align: center; }
    body #content h2 {
      color: #fcce07; }
    body #content img {
      border: 2px solid #fcce07;
      padding: 2px; }
    body #content .img-left {
      float: left;
      margin: 0 10px 10px 0; }
    body #content .img-right {
      float: right;
      margin: 0px 0px 10px 10px; }
    body #content .brief {
      background: #fff279;
      width: 100%;
      float: left;
      padding: 15px;
      margin: 0px 21px 25px 0px;
      box-sizing: border-box;
      color: #000000; }
    body #content a {
      color: #f5c806; }
    body #content table {
      border-collapse: collapse; }
      body #content table caption {
        color: #000000;
        text-align: right; }
      body #content table tr {
        border-bottom: 1px solid #95a44d; }
        body #content table tr th {
          background: #95a44d;
          text-align: left;
          color: #000000;
          text-transform: uppercase;
          padding: 10px 20px; }
          body #content table tr th:not(:last-child) {
            border-right: 1px solid #ffffff; }
        body #content table tr td {
          padding: 7px 20px;
          background-color: #677e00; }
    body #content .contact-form .form-element {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 15px; }
      body #content .contact-form .form-element-left {
        float: left;
        width: 50%;
        padding-right: 3px; }
      body #content .contact-form .form-element-right {
        float: right;
        width: 50%;
        padding-left: 3px; }
      body #content .contact-form .form-element label {
        text-transform: uppercase;
        color: #fcce07;
        margin-bottom: 5px; }
      body #content .contact-form .form-element input, body #content .contact-form .form-element textarea {
        padding: 5px;
        border: 1px solid #95a44d; }
      body #content .contact-form .form-element textarea {
        resize: none; }
    body #content .contact-form .btn {
      padding: 10px 50px;
      border: 1px solid #fcce07;
      color: #fcce07;
      text-transform: uppercase;
      background: #393939;
      margin: 5px 0px 30px 0px; }
