/*============================*/
/*Reset*/
/*============================*/
body, ul {
	margin: 0px;
	padding: 0px;
} 
li {
	list-style: none;
}
/*============================*/
/*Reset*/
/*============================*/
body {
	font-family: 'Open Sans', sans-serif;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}

/*============================*/
/*Header*/
/*============================*/
header {
	background: transparent;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
.navigation {
	display: flex;
	justify-content: space-between;
	/*padding: 30px 0px;*/
	position: relative;
	height: 80px;
	max-height: 80px;
}
nav {
	position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
ul li {
	display: inline;
	padding: 10px;
	margin: 20px;
}
/*============================*/
/*Header*/
/*============================*/

/*============================*/
/*Banner*/
/*============================*/
main {
	overflow: hidden;
}
.banner-bg {
	height: 100vh;
	background: url(../img/apples.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner-content {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.banner-button {
	position: absolute;
	left: 50%;
	bottom: 200px;
	transform: translateX(-50%);
}
/*============================*/
/*Banner*/
/*============================*/

/*============================*/
/*About*/
/*============================*/
.about-container {
	padding: 100px 0px;
	display: flex;
  justify-content: space-between;
}
.about-container p {
	width: 50%;
}
/*============================*/
/*About*/
/*============================*/

/*============================*/
/*Articles*/
/*============================*/
.articles {
	background: red;
	padding: 100px 0px;
}
/*============================*/
/*Articles*/
/*============================*/

/*============================*/
/*Footer*/
/*============================*/
hr {
	height: 1px;
	width: 100%;
	background: red;
	border: none;
}
.footer-top, .footer-bottom {
	display: flex;
	justify-content: space-between;
	padding: 100px 0px;
}
.footer-bottom {
	padding: 20px 0px;
}
/*============================*/
/*Footer*/
/*============================*/