$bodyBackgroundColor: #ddbc9b;
$titleColor: #8a3a00;
$borderColor: $titleColor;
$textColor: #000000;
$contentBackgroundColor: #ffffff;
$briefBackgroundColor: #faddbb;
$briefColor: #000000;
$linkColor: #5382ad;
$linkColorHover: $briefBackgroundColor;
$linkColorVisited: $titleColor;
$theadBackgroundColor: #e1e1e1;
$theadColor: #000000;
$theadBorderColor: $contentBackgroundColor;
$tbodyBackgroundColor: #ffffff;
$tdBorderBottom: $theadBackgroundColor;
$captionColor: $theadColor;
$formTextColor: #818181;
$labelColor: #8181a2;
$inputBorder: $theadBackgroundColor;
$buttonBorderColor: #3b71a2;
$buttonTextColor: $buttonBorderColor;
$buttonBackgroundColor: $contentBackgroundColor;
$buttonTextColorHover: $buttonBackgroundColor;
$buttonBackgroundColorHover: $buttonTextColor;
$briefWidth: 35%;
$briefMarginBottom: 7px;
$pageVersion1: true;
$contentWidth: 990px;