$bodyBackgroundColor: rgba(198, 238, 252, 0.53);
$titleColor: #fcce07;
$borderColor: $titleColor;
$textColor: #ffffff;
$contentBackgroundColor: #393939;
$briefBackgroundColor: #fff279;
$briefColor: #000000;
$linkColor: #f5c806;
$linkColorHover: $briefBackgroundColor;
$linkColorVisited: $titleColor;
$theadBackgroundColor: #95a44d;
$theadColor: #000000;
$theadBorderColor: $textColor;
$tbodyBackgroundColor: #677e00;
$tdBorderBottom: $theadBackgroundColor;
$captionColor: $theadColor;
$formTextColor: $titleColor;
$labelColor: $titleColor;
$inputBorder: $theadBackgroundColor;
$buttonBorderColor: $titleColor;
$buttonTextColor: $titleColor;
$buttonBackgroundColor: $contentBackgroundColor;
$buttonTextColorHover: $buttonBackgroundColor;
$buttonBackgroundColorHover: $buttonTextColor;
$briefWidth: 100%;
$briefMarginBottom: 25px;
$style1: false;