$bodyBackgroundColor: rgba(198, 238, 252, 0.53);
$blockquoteBackgroundColor: #fff178;
$contentBackgroundColor: #3b3b3b;
$titleColor: #fccd10;
$textColor: #ffffff;
$theadBackgroundColor: #94a34e;
$tbodyBackgroundColor: #677d01;
$linkColor: #f5c70f;