$bodyBackgroundColor: #dcbb9a;
$blockquoteBackgroundColor: #fadcba;
$contentBackgroundColor: #ffffff;
$titleColor: #893c00;
$textColor: #000000;
$theadBackgroundColor: #e0e0e0;
$tbodyBackgroundColor: #ffffff;
$linkColor: #3d70a1;